.exchange-cell {
    line-height: 0.4rem;
    font-size: 0.3rem;
    padding: 0.42rem 0.3rem;
    border-radius: 0px 0px 0.2rem 0.2rem;
}

.exchange-cell .van-icon {
    height: 0.4rem;
    font-size: 0.36rem;
    line-height: 0.4rem;
}

.exchange-cell .van-icon.van-cell__left-icon {
    margin-right: 0.16rem;
    color: #FF4C4B;
}

.exchange-cell .exchange-name {
    padding-right: 0.42rem;
}

.exchange-cell .exchange-tel {
    padding-right: 0.1rem;
}

.exchange-cell .van-tag {
    padding: 0.04rem 0.14rem;
    border-radius: 0.18rem;
    font-size: 0.2rem;
}

.exchange-cell .van-cell__label {
    margin-top: 0.2rem;
    line-height: 0.36rem;
    font-size: 0.26rem;
    color: #999;
}

.gift-list {
    margin: 0.2rem 0 1.48rem;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 0.2rem;
}

.gift-list .title {
    margin: 0 0 0.3rem;
    padding: 0 0.06rem;
    font-size: 0.3rem;
    font-weight: normal;
    color: #000;
}

.gift-list .title .iconfont {
    margin-right: 0.16rem;
    font-size: 0.3rem;
    color: #FF4C4B;
}

.gift-list .list-info {
    display: flex;
}

.gift-list .list-info .img {
    flex: 0 0 1.8rem;
    box-sizing: border-box;
    border-radius: 0.1rem;
    border: 1px solid #E6E6E6;
    overflow: hidden;
    font-size: 0;
}

.gift-list .list-info .img img {
    width: 100%;
}

.gift-list .list-info .info {
    flex: 1;
    padding-left: 0.24rem;
    font-size: 0.28rem;
    line-height: 0.36rem;
}

.gift-list .list-info .info h3 {
    padding: 0.1rem 0 0.2rem;
    color: #222;
    font-weight: normal;
    margin: 0;
}

.gift-list .list-info .info p {
    margin: 0;
    color: #999;
}

.submit-bar-wrap {
    box-shadow: 0 1px 0.2rem 0 rgba(0, 0, 0, 0.06);
}

.submit-bar-wrap .van-submit-bar__bar {
    height: 1.28rem;
    padding: 0 0.3rem;
}

.submit-bar-wrap .total {
    padding-right: 0.44rem;
    font-size: 0.28rem;
}

.submit-bar-wrap .total strong {
    font-size: 0.32rem;
    color: #FF4C4B;
    font-weight: normal;
}

.submit-bar-wrap .van-submit-bar__button {
    width: 2.6rem;
    height: 0.98rem;
    border-radius: 0.5rem;
    font-size: 0.32rem;
}

.pay-wrap {
    padding: 0.32rem;
}

.pay-way {
    box-sizing: border-box;
    padding: 0.26rem 0.3rem;
    border: 1px solid #eee;
    margin-top: 0.2rem;
    font-size: 0.24rem;
}

.pay-way h4 {
    margin: 0 0 0.14rem;
    font-weight: normal;
    text-align: left;
    font-size: 0.28rem;
}

.pay-way p {
    margin: 0;
    text-align: left;
    line-height: 0.44rem;
}

.pay-wrap .active {
    border: 1px solid #0f9fff;
    color: #0f9fff;
}

.integral-convert {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0.6rem 0;
    align-items: center;
}

.integral-convert .van-icon {
    font-size: 1.6rem;
}

.integral-convert h3 {
    margin: 0.6rem 0 0;
    font-size: 0.42rem;
    font-weight: normal;
    color: #666;
}

.integral-convert p {
    line-height: 0.52rem;
    color: #999;
    text-align: center;
    font-size: 0.28rem;
}

.integral-convert a {
    color: #0f9fff;
    font-size: 0.28rem;
}