.layout-main {
    padding: 0 0.3rem;
}

.m-header {
    display: flex;
    padding: 0.3rem 0;
}

.m-header .logo {
    flex: 0 0 2.92rem;
}

.m-header .logo img {
    width: 100%;
}

.m-header .top-icons {
    flex: 1;
    text-align: right;
}

.m-header .top-icons .iconfont {
    padding: 0 0.12rem;
    font-size: 0.38rem;
    color: #b1b1b1;
}

.swipe-section {
    width: 6.9rem;
    height: 3.6rem;
    overflow: hidden;
    border-radius: 0.18rem;
}

.swipe-section .van-swipe-item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swipe-section .van-swipe-item img {
    position: absolute;
    left: 50%;
    height: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.swipe-section .van-swipe__indicators {
    bottom: 0.3rem;
}

.swipe-section .van-swipe__indicators .van-swipe__indicator {
    width: 0.12rem;
    height: 0.12rem;
}

.swipe-section .van-swipe__indicators .van-swipe__indicator--active {
    width: 0.32rem;
    background-color: #fff;
    border-radius: 0.18rem;
}

.navs-wrapper {
    background-color: #fff;
    border-radius: 0.1rem;
    margin: 0.2rem 0;
    padding: 0.3rem 0;
    overflow: hidden;
}

.navs-wrapper .van-grid-item__content {
    padding: 0;
}

.navs-wrapper .van-grid-item__content .van-grid-item__icon {
    font-size: 0.92rem;
}

.navs-wrapper .van-grid-item__content .van-grid-item__text {
    font-size: 0.24rem;
    color: #666;
    margin-top: 0.2rem
}

.notice-wrapper {
    height: 0.88rem;
    background-color: #fff;
    border-radius: 0.1rem;
    padding: 0 0.24rem;
}

.notice-wrapper .van-notice-bar__left-icon {
    min-width: 1.95rem;
    font-size: 0.28rem;
}

.notice-wrapper .van-notice-bar__left-icon .van-icon__image {
    width: auto;
}

.notice-wrapper .notice-swipe {
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.26rem;
}

.notice-wrapper .notice-swipe a {
    color: #222 !important;
}

.choiceness-commodity {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.1rem;
    margin: 0.2rem 0;
    overflow: hidden;
}

.choiceness-commodity .panel {
    flex: 1;
}

.choiceness-commodity .panel .title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.choiceness-commodity .title h2 {
    margin: 0 0.18rem 0 0;
    font-size: 0.3rem;
    color: #222;
}

.choiceness-commodity .title span.subhead {
    padding: 0.05rem 0.11rem;
    background: linear-gradient(270deg, rgba(234, 58, 45, 1) 0%, rgba(236, 104, 93, 1) 100%);
    border-radius: 0.05rem;
    color: #fff;
    font-size: 0.2rem;
    line-height: 1;
}

.choiceness-commodity .commodity-list {
    height: 1.8rem;
}

.choiceness-commodity .commodity-list a {
    width: 100%;
}

.commodity-list .van-grid-item__content {
    padding: 0.04rem 0.08rem;
}

.commodity-list a .van-image {
    width: 100%;
    height: 1.80rem;
    overflow: hidden;
}

.commodity-list .van-image .van-image__img {
    position: absolute;
    top: 50%;
    height: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.choiceness-commodity .commodity-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem 0.24rem 0.1rem;
}

.zxsj-panel span.subhead {
    background: linear-gradient(270deg, rgba(27, 162, 255, 1) 0%, rgba(29, 181, 255, 1) 100%);
    border-radius: 0.14rem;
}

.dfsp-panel {
    padding: 0.1rem 0.24rem;
}

.dfsp-panel .commodity-list {
    height: 1.6rem;
}

.dfsp-panel .commodity-list a .van-image {
    height: 1rem;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 0.1rem;
}

.dhdt-panel {
    padding: 0.30rem 0.24rem;
    border-top: 1px solid #F5F5F5;
    height: 0.30rem;
    background-color: #fff;
}

.dhdt-panel .van-notice-bar__left-icon {
    min-width: 1.50rem;
    font-size: 0.28rem;
}

.dhdt-panel .van-notice-bar__left-icon .van-icon__image {
    width: auto;
}

.dhdt-panel .dhdt-swipe {
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.26rem;
}

.dhdt-panel .dhdt-swipe a {
    color: #222 !important;
}

.jftabs-wrapper {
    padding: 0.15rem 0 0.6rem;
}

.jftabs-wrapper .van-tabs__wrap {
    height: 1.1rem;
}

.jftabs-wrapper .van-tabs__wrap .van-tabs__nav {
    background-color: transparent;
    text-align: center;
}

.jftabs-wrapper .van-tabs__wrap .van-tabs__nav .m-tit {
    margin: 0 0 0.13rem;
    font-size: 0.28rem;
    color: #222;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.jftabs-wrapper .van-tabs__wrap .van-tabs__nav .m-desc {
    margin: 0;
    font-size: 0.22rem;
    color: #999;
}

.jftabs-wrapper .van-tabs__nav .van-tab--active .m-tit {
    font-size: 0.32rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.jftabs-wrapper .van-tabs__nav .van-tab--active .m-desc {
    color: #EA3B2E;
}

.jftabs-wrapper .van-tabs__nav .van-tabs__line {
    width: 0.4rem !important;
    height: 0.56rem;
    border-radius: 50%;
    border: solid 0.06rem #EA3B2E;
    background-color: transparent;
    border-right: solid 0.06rem rgba(223, 223, 194, 0);
    border-left: solid 0.06rem rgba(223, 223, 194, 0);
    border-top: solid 0.06rem rgba(223, 223, 194, 0);
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
    -webkit-animation: mouthAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: mouthAnimation 3s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.jftabs-wrapper .more-btn {
    margin: 0;
    text-align: center;
    font-size: 0.3rem;
}

.jftabs-wrapper .more-btn a {
    color: #999;
}

.index-footer {
    width: 7.5rem;
    box-sizing: border-box;
    margin-left: -0.3rem;
    margin-bottom: 0.99rem;
    background-color: #fff;
    padding: 0 0.3rem;
    text-align: center;
}

.index-footer .footer-nav {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #eee;
}

.index-footer .footer-nav a {
    flex: 1;
    padding: 0.36rem 0;
    font-size: 0.26rem;
    color: #666;
}

.index-footer .footer-copyright {
    margin: 0;
    padding: 0.38rem 0.4rem;
    font-size: 0.24rem;
    color: #aaa;
    line-height: 0.38rem;
}