<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
    <title>积分集市-商品详情</title>
    <link rel="stylesheet" href="/jfmobile/vant/index.css" />
    <link rel="stylesheet" href="/jfmobile/css/normalize.css">
    <link rel="stylesheet" href="/jfmobile/css/global.css">
    <link rel="stylesheet" href="/jfmobile/iconfont/iconfont.css">
    <link rel="stylesheet" href="/jfmobile/css/main_details.css">

    <script src="/jfmobile/js/flexible.js"></script>
</head>

<body>
    <div id="app" class="layout-default" style="display: none;" :style="{display: 'block'}">
        <div v-if="loading" class="page-loading">
            <div class="page-loading__tip">
                <van-loading color="#fff" size="34"></van-loading>
                <p>内容加载中...</p>
            </div>
        </div>

        <div @click="hideMenu">
            <div class="navi-bar">
                <button class="btn-back" @click="goBack">
                    <i class="iconfont iconarrow-right-copy"></i>
                </button>
                <button class="btn-more" @click.stop="showMenu">
                    <i class="iconfont iconsangeyuandian"></i>
                </button>

                <div class="navi-menu" v-show="menuShow">
                    <a href="/">
                        <i class="iconfont icontubiao-06"></i>首页
                    </a>
                    <a href="/goods">
                        <i class="iconfont icontubiao_huaban1"></i>搜索
                    </a>
                    <a href="/my">
                        <i class="iconfont icontubiao-08"></i>我的
                    </a>
                </div>
            </div>

            <div class="product-info">
                <div class="swipe-wrap">
                    <van-swipe @change="onChange">
                        <van-swipe-item v-for="(image, index) in goodsinfo.thumb" :key="index">
                            <img :src="image" />
                        </van-swipe-item>
                        <template #indicator>
                            <div class="custom-indicator">{{ current + 1 }}/{{ goodsinfo.thumb.length }}</div>
                        </template>
                    </van-swipe>
                </div>

                <div class="p-info">
                    <div class="p-price">
                        <strong>{{ goodsinfo.dhjf }}</strong>积分+
                        <strong>{{ goodsinfo.dhjg }}</strong>元
                    </div>
                    <p class="p-name">{{ goodsinfo.mc }}</p>
                    <div class="p-tags">
                        标签：
                        <span v-for="(tag, idx) in goodsinfo.spbq" :key="idx">{{ tag }}</span>
                    </div>
                    <div class="p-sx" v-if="goodsinfo.sx.name">
                        {{ goodsinfo.sx.name }}：
                        <span v-for="(item, idx) in goodsinfo.sx.value" :key="idx" @click="clickSx(idx, item)"
                            :class="idx == sxIndex ? 'cur' : ''">{{ item.name }}</span>
                    </div>
                    <div class="p-other-info">
                        <span>已兑换{{ goodsinfo.dhrs }}人</span>
                        <span>{{ parseInt(goodsinfo.snum) > 0 ? '库存充足' : '暂无' }}</span>
                    </div>
                </div>
            </div>

            <div class="special-notice">
                <strong>
                    <i class="iconfont iconSJtubiao-15"></i>特别注意：
                </strong>
                部分商品属于本站采购商品，如遇商品质量问题可联系本站，再向相关商家反馈情况进行维权处理，最终解释权归本站所有。
            </div>

            <div class="related-recommend">
                <h2>相关推荐</h2>
                <van-swipe :loop="false" :width="swipeWidth" :show-indicators="false" class="swipe-items">
                    <van-swipe-item v-for="product in tjsp" :key="product.id">
                        <a :href="'/main/detail?id=' + product.id">
                            <div class="img">
                                <img :src="product.img" style="width:100%" />
                            </div>
                            <h3 class="name text-ellipsis">{{ product.dbt }}</h3>
                            <p class="desc">
                                <strong>{{ product.dhjf }}</strong>积分
                            </p>
                        </a>
                    </van-swipe-item>
                </van-swipe>
            </div>

            <van-tabs v-model="activeName" class="product-particulars" sticky>
                <van-tab title="礼品介绍" name="礼品介绍">
                    <div class="particulars1" v-html="goodsinfo.nr"></div>
                </van-tab>
                <van-tab title="规格参数" name="规格参数">
                    <div class="particulars2" v-html="goodsinfo.ggcs"></div>
                </van-tab>
                <van-tab title="注意事项" name="注意事项">
                    <p class="particulars3" v-html="goodsinfo.zysx"></p>
                </van-tab>
            </van-tabs>

            <div class="goods-action">
                <div class="goods-action-icon">
                    <van-icon name="chat-o"></van-icon>
                    <span>客服</span>
                </div>
                <div class="goods-action-icon" @click="goCart">
                    <van-icon name="shopping-cart-o" :dot="isAddCart"></van-icon>
                    <span>购物车</span>
                </div>
                <div class="goods-action-btns">
                    <template v-if="goodsinfo.tzurl">
                        <van-button color="#FF4C4B" class="btn-dh-one" :url="goodsinfo.tzurl">立即兑换</van-button>
                    </template>
                    <template v-if="!goodsinfo.tzurl">
                        <van-button color="#FFEDED" class="btn-cart" @click="addShopCart">加入购物车</van-button>
                        <van-button color="#FF4C4B" class="btn-dh" @click="immeChange">立即兑换</van-button>
                    </template>
                </div>
            </div>

            <form action="/user_jf/order" id="forms" method="post">
                <input type="hidden" name="ids" :value="goodsinfo.id">
                <input type="hidden" name="num" :value="num">
                <input type="hidden" name="free" :value="free">
                <input type="hidden" name="sxmc" :value="sxmc">
                <input type="hidden" name="mc" :value="goodsinfo.mc">
                <input type="hidden" name="xdsl" :value="xdsl">
            </form>
        </div>
    </div>

    <script src="/jfmobile/js/vue.min.js"></script>
    <script src="/jfmobile/vant/vant.min.js"></script>
    <script src="/jfmobile/js/jquery.js"></script>
    <script src="/jfmobile/js/utils.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    loading: true,
                    menuShow: false,
                    activeName: "礼品介绍",
                    current: 0,
                    swipeWidth: 0,
                    sxIndex: 0,
                    isAddCart: false,
                    sxmc: "",
                    goodsinfo: {
                        id: '',
                        thumb: [],
                        dhjf: '',
                        dhjg: '',
                        mc: '',
                        spbq: [],
                        sx: [],
                        dhrs: '',
                        snum: '',
                        nr: '',
                        ggcs: '',
                        zysx: '',
                        tzurl: ''
                    },
                    xdsl: 0,
                    num: 1,
                    free: 1,
                    tjsp: []
                };
            },
            methods: {
                goBack: function () {
                    window.history.go(-1);
                },
                showMenu: function () {
                    this.menuShow = true;
                },
                hideMenu: function (e) {
                    if (e.target.className != "btn-more") {}
                    this.menuShow = false;
                },
                onChange(index) {
                    this.current = index;
                },
                //跳转购物车
                goCart() {
                    window.location.href = "/user_jf/cart"
                },
                //商品规格选择
                clickSx(i, item) {
                    this.sxIndex = i;
                    this.goodsinfo.dhjf = item.dhjf;
                    this.goodsinfo.dhjg = item.dhjg;
                    this.sxmc = item.name;
                },
                //加入购物车
                addShopCart() {
                    var self = this;
                    $.ajax({
                        type: "post",
                        url: ajaxBaseUrl + 'user_jf/p_add_cart',
                        data: {
                            id: getUrlParam().id,
                            num: 1,
                            sxmc: this.sxmc
                        },
                        success: function (res) {
                            if (res.code === 1) {
                                self.$toast(res.msg);
                                self.isAddCart = true;
                            } else {
                                self.$toast(res.msg);
                            }
                        }
                    })

                },
                //立即兑换
                immeChange() {
                    if (this.xdsl > 0) {
                        this.$dialog
                            .confirm({
                                message: "亲爱的活动特权用户您好，您已满足本次活动的资格，可享用免积分兑换本次活动商品“" +
                                    this.goodsinfo.mc +
                                    "x" +
                                    this.xdsl +
                                    "”个，点击确定可直接兑换哦！"
                            })
                            .then(() => {
                                this.free = 1
                                this.num = this.xdsl
                                //window.location.href = `/user_jf/order?ids=${this.goodsinfo.id}&num=${this.xdsl}&free=1&sxmc=${this.sxmc}`
                                $('#forms').submit();
                            })
                            .catch(() => {
                                
                            });
                    } else {
                        this.free = 0
                        this.num = 1
                        //window.location.href = `/v/mobile/user/main_order.html?ids=${this.goodsinfo.id}&num=1&free=0&sxmc=${this.sxmc}`
                        $('#forms').submit();
                    }
                }
            },
            mounted() {
                let w =
                    window.innerWidth ||
                    document.documentElement.clientWidth ||
                    document.body.clientWidth; //浏览器宽度
                this.swipeWidth = w / 3.7;
            },
            created() {
                var self = this;
                $.ajax({
                    type: "get",
                    url: ajaxBaseUrl + 'main/detail',
                    data: {
                        request_data: 1,
                        id: getUrlParam().id
                    },
                    dataType: "jsonp",
                    success: function (res) {
                        if (res.code === 1) {
                            let {
                                data: {
                                    goodsinfo,
                                    tequansl,
                                    tjsp
                                }
                            } = res

                            self.goodsinfo.id = goodsinfo.id
                            self.goodsinfo.thumb = goodsinfo.thumb.split(",")
                            self.goodsinfo.dhjf = goodsinfo.dhjf
                            self.goodsinfo.dhjg = goodsinfo.dhjg
                            self.goodsinfo.mc = goodsinfo.mc
                            self.goodsinfo.spbq = goodsinfo.spbq.split(" ")
                            self.goodsinfo.sx = goodsinfo.sx
                            self.goodsinfo.dhrs = goodsinfo.dhrs
                            self.goodsinfo.snum = goodsinfo.snum
                            self.tjsp = tjsp
                            self.goodsinfo.nr = goodsinfo.nr
                                .replace(goodsinfo.nr ? /&(?!#?\w+;)/g : /&/g, "&amp;")
                                .replace(/&lt;/g, "<")
                                .replace(/&gt;/g, ">")
                                .replace(/&quot;/g, '"')
                                .replace(/&#39;/g, "'")
                                .replace(/&amp;nbsp;/g, " ")
                                .replace(/&amp;ldquo;/g, "“")
                                .replace(/&amp;rdquo;/g, "”")
                            self.goodsinfo.ggcs = goodsinfo.ggcs
                                .replace(goodsinfo.ggcs ? /&(?!#?\w+;)/g : /&/g, "&amp;")
                                .replace(/&lt;/g, "<")
                                .replace(/&gt;/g, ">")
                                .replace(/&quot;/g, '"')
                                .replace(/&#39;/g, "'")
                                .replace(/&amp;nbsp;/g, " ")
                                .replace(/&amp;ldquo;/g, "“")
                                .replace(/&amp;rdquo;/g, "”")
                            self.goodsinfo.zysx = goodsinfo.zysx
                            self.goodsinfo.tzurl = goodsinfo.tzurl
                            self.xdsl = tequansl

                            self.loading = false;
                        }
                    }
                })
            }
        })
    </script>
</body>

</html>